- attributes("title") = "Tipz - Add Counterpart"
- import com.mongodb.casbah.Imports
-@ val counterpartList : List[Imports.DBObject]
-@ val errorMessage : String
-@ val counterpartName : String
-@ val counterpartDescription : String
-@ val counterpartValue : Float
-@ val user : String
-@ val projectId : Int

.row
    -@ val url : String = "/project/add/" + projectId + "/counterpart/add"
    .col-md-2
    form.col-md-8.portfolio-item(name="form" action=url method="post")
        label Title
        input.form-control(type="text" name="counterpartName" placeholder="Name of the counterpart" required="required" value="#{counterpartName}" min="1" autofocus="")
        br
        label Value (€ / month)
        input.form-control(type="number" name="counterpartValue" required="required" value="#{counterpartValue}" min="1" autofocus="")
        br
        label Description
        textarea.form-control(id="hiddenProjectDescription" name="counterpartDescription" required="required" value="#{counterpartDescription}")

        input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Add the counterpart")
    .col-md-2
|

.row
    .col-md-2
    .col-md-8.portfolio-item
        label List of the counterparts
        - for(counterpart <- counterpartList) {
        .itemDisplay
            .h4.strong
                p #{counterpart.get("name")} - #{counterpart.get("value")} € / month
            p #{counterpart.get("description")}
        - }
    .col-md-2

.row
    .col-md-2
    .col-md-8
        -@ val validationUrl : String = "/project/add/" + projectId + "/counterpart/save"
        a(href=validationUrl class="blackText")
            button(class="btn btn-primary btn-block btn-lg" type="button") Validate
    .col-md-2