- import com.mongodb.casbah.Imports
-@ val projectName : String
- attributes("title") = "Tipz - Project edit"
-@ val projectDescription : String
-@ val projectAuthor : String
-@ val projectContact : String
-@ val errorMessage : String
-@ val projectId : Int


// Page Header
.row
    .col-lg-12
        h1.page-header Editer un projet

- if (errorMessage != "") {
// /.row
.row
    .col-md-3
    |
    .alert.alert-danger.col-md-6.errorMessage  #{errorMessage}
    |
    .col-md-3
// Projects Row
- }


.row
    -@ val url : String = "/project/add"
    form.col-md-6.portfolio-item(name="form" action=url method="post")
        label Nom du projet
        input.form-control(type="text" name="name" placeholder="Nom du Projet"  required="required" value="#{projectName}" min="1" autofocus="")
        |
        br
        |
        label Description
        textarea.form-control(name="description" id="projectDescription" value="#{projectDescription}" rows="8")
        label Autheur
        input.form-control(type='text' name='author' placeholder='auteur' value="#{projectAuthor}" required='required')
        label Contact
        input.form-control(type='text' name='contact' placeholder='contact' value="#{projectContact}" required='required')
        |
        hr
        |
        input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Enregistrer")
|