- attributes("title") = "Tipz - Participate"
-@ val participateErrorMessage : String
-@ val counterpartValue : Float
-@ val projectName : String
-@ val projectAuthor : String
-@ val counterpartName : String
-@ val counterpartDescription : String
-@ val counterpartId : Int

/ Page Header
.row
    .col-lg-12
        h1.page-header Participate in a project

- if (participateErrorMessage != "") {
// /.row
.row
    .col-md-3
    |
    .alert.alert-danger.col-md-6.errorMessage  #{participateErrorMessage}
    |
    .col-md-3
// Projects Row
- }

.col-lg-12.portfolio-item.itemDisplay Do you confirm your participation of #{counterpartValue} € per month to the #{projectName} project from #{projectAuthor} ?

.col-md-4.itemDisplay
    h4.strong #{counterpartName} - #{counterpartValue} € / month
    p #{counterpartDescription}
    -@ val url : String = "/participate/" + counterpartId + "/submit"
    .rightText
        a(href=url class="blackText rightText")
            button(class="btn btn-primary" type="button") I'm agree